/* Animación de "rebotar" para la temperatura */
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  /* Animación de "aparecer y desaparecer" para la humedad */
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .weather-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-container p {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  